body{
    background-color: rgb(228, 170, 233);
    color: rgb(31, 31, 31);
}
.form{
    background-color: aqua;
}
.flex{
    display: flex;
}
.lick{
    width: 240px;
    height: 240px;
    border-radius: 12px;
}
.wizard{
    height: 120px;
    border: 2px solid rgb(0, 0, 0);
}
.question{
background-color: rgb(129, 84, 172);
padding: 12px;
border: 4px solid rgb(0, 0, 0);
width: 1200px;
color: rgb(255, 255, 255);
}
#headman{
    background-color: rgb(129, 84, 172);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 4px solid rgb(0, 0, 0)
}
hr{
    height: 2px;
    background-color: black;
}
textarea{
    resize: none;
    width: 480px;
    height: 240px;
}
.buttomer{
    padding: 12px;
}